@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 94%;
    --foreground: 32 29% 13%;
    --card: 40 46% 96%;
    --card-foreground: 32 29% 13%;
    --popover: 40 46% 96%;
    --popover-foreground: 32 29% 13%;
    --primary: 23 75% 31%;
    --primary-foreground: 40 46% 96%;
    --secondary: 36 33% 86%;
    --secondary-foreground: 32 29% 13%;
    --muted: 36 33% 86%;
    --muted-foreground: 30 21% 30%;
    --accent: 36 33% 86%;
    --accent-foreground: 32 29% 13%;
    --destructive: 0 74% 42%;
    --destructive-foreground: 40 46% 96%;
    --border: 34 28% 78%;
    --input: 34 28% 78%;
    --ring: 23 75% 31%;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
